<ion-view title="Actividades">
  <ion-header-bar align-title="center" class="bar-assertive">
    <h1 class="title">Member area</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="logout()">Logout</button>
    </div>
  </ion-header-bar>
  <ion-content class="padding" scroll="true">
    <p>
    Actividades actualmente habilitadas:
    <p>
    <ion-list ng-controller="getPoints">
      <ion-item class="item-text-wrap" ng-repeat="point in points">
        {{point.name}}: {{point.descripcion}}
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>


