<ion-view title = "Crear una nueva cuenta">
<ion-nav-bar class="bar-assertive">
</ion-nav-bar>
  <ion-content class = "padding">
    <div class = "list">
      <label class = "item item-input">
        <input type = "email" placeholder = "Correo electrónico" ng-model = "user.name">
      </label>
      <label class = "item item-input">
        <input type = "password" placeholder = "Contraseña" ng-model = "user.password">
      </label>
      <p>
      <p>Son tambien necesarios los siguientes datos!</p>
      <div class="item row">
        <div class="col">
          <input type = "text" autocapitalize="words" placeholder = "1er nombre" ng-model = "user.nombre1">
        </div>
        <div class="col">
          <input type = "text" autocapitalize="words" placeholder = "2do nombre (opcional)" ng-model = "user.nombre2">
        </div>
      </div>
      <div class="item row">
        <div class="col">
          <input type = "text" autocapitalize="words" placeholder = "Apellido paterno" ng-model = "user.apellido1">
        </div>
        <div class="col">
          <input type = "text" autocapitalize="words" placeholder = "Apellido materno" ng-model = "user.apellido2">
        </div>
      </div>
      <p>
        <p>
      La cédula de identidad debe ir sin puntos ni guión, pero debe contener su dígito verificador.</p>
      <label class = "item item-input">
        <input type = "number" placeholder = "11111111K" ng-model = "user.rut">
      </label>
      <p>
      <p>
      La dirección que escogas en el mapa se utilizará como punto de referencia para la búsqueda de voluntarios. Puedes escoger la ubicación de tu hogar o una ubicación en común con tus amigos o equipo deseado de trabajo. ESTE PUNTO NO PODRÁ SER MODIFICADO POSTERIORMENTE.</p>
      <div id="floating-panel">
          <button class="button button-small button-block button-assertive" ng-click="centerOnMe()">Buscar mi posicíón</button>
      </div>
      <div>
          <map id="map2" zoom="17"> 
          <!-- ngRepeat: pos in positions -->
          <marker ng-repeat=" pos in positions" position="{{pos.lat}},{{pos.lng}}"></marker>
          </map> 
      </div>
      <p>
        <p>
      Seleccionar un grupo o equipo de trabajo permite obtener información más completa sobre los voluntarios registrados, además de
      saber qué organización responderá por su participación.
      <div class="list">
        <label class="item item-input item-select">
          <div class="input-label">
            Seleccione Equipo:
          </div>
          <select id = "grupo" ng-model = "user.grupo" ng-controller="getGrupos">
            <option value = "" disabled selected>Equipo</option>
            <option ng-repeat="grupo in grupos" value="{{grupo.name}}">{{grupo.name}}</option>
          </select>
        </label>
        <p>
      </div> 
      <button class = "button button-full button-assertive" ng-click = "signup()" ui-sref="outside.login">
        Registrarse
      </button>
    </div>  
  </ion-content>
</ion-view>