#map {
  width: 100%;
  height: 100%;
}
.scroll {
  height: 100%;
}/* Empty. Add your own CSS if you like */

.card .item{
  background: white;
}

.custom-tab{
 color : #30393A;
 }

 .siteNotice{
/*font-family: 'Open Sans Condensed', sans-serif;
   font-size: 22px;
   font-weight: 400;
   padding: 10px;
   background-color: #48b5e9;
   color: white;
   margin: 1px;
   border-radius: 2px 2px 0 0; /* In accordance with the rounding of the de*/
 }